@import "colors";
@import "media-queries";

%aling-center{
    display: flex;
    align-items: center;
}

.navbar{
    background: yellowgreen;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    position: relative;
    z-index: 10;

    &_logo{
        color: $dark;
        cursor:pointer;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 20px;
        @extend %aling-center;
    }

    &_bars{
        opacity: 0.5;
        background-color: green;

        @include tablet{
            color:$dark;
            opacity: 1;
            position: absolute;
            top:20px;
            right: 20px;
            font-size: 2rem;

        }
    }

}   

&_menu{
    background-color: red;
    @extend %aling-center;
    margin-right: 25px;

    @include tablet{
        /*
        display: none;
        */
    }
}

&-links{
    color:dark;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.5rem;
}

&:hover {
    color: $lime;
    transform: all 0.3s ease;

}


#button{
    background-color: red;
    border:none;
    outline: none;
    padding: 10px 20px;
    border-radius: 4px;
    color:$lighth;
    margin-left:2px;

    &:hover{
        background-color: &orangered;
        transition: all 0.3s ease;
    }
}